*.tsbuildinfo
*.log
*.map
coverage/
src/**/*.test.ts
src/**/*.ts
!src/**/*.d.ts
src/**/*.test.d.ts
src/rules/converters/*.d.ts
src/rules/converters/tests/*
src/rules/mergers/*.d.ts
src/rules/mergers/tests/*
